<!DOCTURE html>
<html>
  <head><title>Twitter for Zombies</title></head>
</body>
  <img src="/images/twitter.png" />

<% tweet = Tweet.find(1) %>

<h1><%= tweet.status %></h1>

<p>Posted by <%= tweet.zombie.name %></p>

</body></html>